<div class="ui-g-12" style="width: 100%">
  <p-panel header="Administracion de Tareas" style="width: 100%">
    <div style="margin-bottom: 20px">

      <p-menubar [model]="items">


      </p-menubar>
    </div>

    <p-table
      #todoTable
      [value]="tarea"
      [columns]="cols"
      [responsive]="true"
      selectionMode="single"
      sortMode="multiple"
      [(selection)]="selectedTarea"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25]"
      [filterDelay]="0"
      [globalFilterFields]="[
        'registdate',
        'registtime',
        'tareadesarrollada'

      ]"
    >

      <ng-template pTemplate="header" let-columns>

          <tr>
            <th>
              <p-columnFilter
                type="text"
                field="registdate"
                placeholder="registdate"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="registtime"
                placeholder="registtime"
              ></p-columnFilter>
            </th>
            <th>
              <button type="button" pButton pRipple icon="pi pi-file-o" (click)="todoTable.exportCSV()" class="p-mr-2" pTooltip="Exportar CSV" tooltipPosition="bottom"></button>
            </th>
            <th>
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input pInputText
                    type="text"
                    (input)="
                      todoTable.filterGlobal($any($event.target).value, 'contains')
                    " placeholder="Filtro General"/>
                </div>
              </div>
            </th>
          </tr>


        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-tarea let-columns="columns">
        <tr [pSelectableRow]="tarea">
          <td *ngFor="let col of columns">
            {{ tarea[col.field] }}
          </td>
        </tr>
      </ng-template>

    </p-table>

  </p-panel>
</div>


