<div class="card border-dark mb-3">
  <div class="card-header" *ngIf="!tarea">{{ titulo }}</div>
  <div class="card-header" *ngIf="tarea">{{ titulo2 }}</div>
  <div class="card-body">
    <form #tareaForm="ngForm">
      <div class="form-group row pb-2">
        <label for="" class="col-form-label col-sm-3">Fecha</label>
        <div class="col-sm-9">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="tarea.registDate"
            name="fecha"
            #fecha="ngModel"
            required="true"
          />
          <div
            class="alert alert-danger"
            *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
          >
            <div *ngIf="fecha.errors?.['required']">La fecha es requerido</div>

            <br />
          </div>
        </div>
      </div>

      <div class="form-group row pb-2">
        <label for="" class="col-form-label col-sm-3">Duración de la Tarea</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="tarea.tiempoTarea"
            name="tiempo"
            #tiempo="ngModel"
            required="true"
          />
          <div
            class="alert alert-danger"
            *ngIf="tiempo.invalid && (tiempo.dirty || tiempo.touched)"
          >
            <div *ngIf="tiempo.errors?.['required']">
              El tiempo es obligatorio
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row pb-2 pb-2">
        <label for="" class="col-form-label col-sm-3">Descripción de la Tarea</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="tarea.tareaDesarrollada"
            name="descrip"
            #tareaDesarrollada="ngModel"
            required="true"
            tareaDesarrollada
          />

          <div
            class="alert alert-danger"
            *ngIf="tareaDesarrollada.invalid && (tareaDesarrollada.dirty || tareaDesarrollada.touched)"
          >
            <div *ngIf="tareaDesarrollada.errors?.['required']">El email es requerido</div>
            
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-12">
          <div class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button
                class="btn btn-primary"
                role="button"
                (click)="create()"
                *ngIf="!tarea.id; else elseBlock"
                [disabled]="!tareaForm.form.valid"
              >
                Crear
              </button>

              <ng-template #elseBlock>
                <button
                  class="btn btn-primary"
                  role="button"
                  (click)="update()"
                  [disabled]="!tareaForm.form.valid"
                >
                  Editar
                </button>
              </ng-template>


            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

