<div class="card border-dark mb-3">
  <div class="card-header" *ngIf="!usuario">{{ titulo }}</div>
  <div class="card-header" *ngIf="usuario">{{ titulo2 }}</div>
  <div class="card-body">
    <form #usuarioForm="ngForm">
      <div class="form-group row pb-2">
        <label for="" class="col-form-label col-sm-3">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.name"
            name="nick"
            #nombre="ngModel"
            required="true"
            minlength="4"
          />
          <div
            class="alert alert-danger"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre.errors?.['required']">El nick es requerido</div>
            <div *ngIf="nombre.errors?.['minlength']">
              El nick debe ser mayor a 3 letras
            </div>
            <br />
          </div>
        </div>
      </div>

      <div class="form-group row pb-2">
        <label for="" class="col-form-label col-sm-3">Apellido</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.surName"
            name="apellido"
            #apellido="ngModel"
            required="true"
            minlength="4"
          />
          <div
            class="alert alert-danger"
            *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
          >
            <div *ngIf="apellido.errors?.['required']">
              El apellido es obligatorio
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row pb-2 pb-2">
        <label for="" class="col-form-label col-sm-3">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="usuario.email"
            name="mail"
            #mail="ngModel"
            required="true"
            minlength="4"
            email
          />

          <div
            class="alert alert-danger"
            *ngIf="mail.invalid && (mail.dirty || mail.touched)"
          >
            <div *ngIf="mail.errors?.['required']">El email es requerido</div>
            <div *ngIf="mail.errors?.['email']">
              Introduce una dirección de correo eléctronico correcta
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row pb-2 pb-2">
        <label for="" class="col-form-label col-sm-3">Teléfono</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="usuario.phone"
            name="phone"
            #phone="ngModel"
            required="true"
            phone
          />

          <div
            class="alert alert-danger"
            *ngIf="phone.invalid && (phone.dirty || phone.touched)"
          >
            <div *ngIf="phone.errors?.['required']">El teléfono es requerido</div>
            <div *ngIf="phone.errors?.['phone']">
              Introduce una dirección de correo eléctronico correcta
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row pb-2">
        <label for="" class="col-form-label col-sm-3">ROL</label>
        <div class="col-sm-9">
            <select class="form-select" name="rol" #type="ngModel" #rol="ngModel" [(ngModel)]="usuario.rol"
            required="true">
              <option value="PROFESOR" selected>PROFESOR</option>
              <option value="ALUMNO">ALUMNO</option>
              <option value="TUTOR">TUTOR</option>
            </select>

          <div
            class="alert alert-danger"
            *ngIf="rol.invalid && (rol.dirty || rol.touched)"
          >
            <div *ngIf="rol.errors?.['required']">el rol es necesario</div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-12">
          <div class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button
                class="btn btn-primary"
                role="button"
                (click)="create()"
                *ngIf="!usuario.id; else elseBlock"
                [disabled]="!usuarioForm.form.valid"
              >
                Crear
              </button>

              <ng-template #elseBlock>
                <button
                  class="btn btn-primary"
                  role="button"
                  (click)="update()"
                  [disabled]="!usuarioForm.form.valid"
                >
                  Editar
                </button>
              </ng-template>


            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

