/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/primeng/resources/themes/lara-light-blue/theme.css");
 @import url("../node_modules/primeng/resources/primeng.min.css");
 @import  url("../node_modules/primeicons/primeicons.css");

 body {
  background-image: url(./assets/img/fondoPrincipal.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0%;
   padding-bottom: 3rem;
   min-height: 100vh;
 }

 .a{
  margin: top 100rem;
  bottom: 0;
  width: 100%;
  text-align: center;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 5rem;
}
footer { width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end;}
